<!DOCTYPE html>
<html>
    <head>
        <title>
            Quizzical -
            {% block title %}
                Untitled
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body %}
            {% endblock %}
        </div>

        <div>
            <ul>
                <li><a href="{% url 'app:home' %}">home</a></li>
                <li><a href="{% url 'app:create_quiz' %}">create_quiz</a></li>
                <li><a href="{% url 'app:account' %}">account</a></li>
                <li><a href="{% url 'app:signup' %}">signup</a></li>
                <li><a href="{% url 'app:login' %}">login</a></li>
                <li><a href="{% url 'app:category' %}">category</a></li>
                <li><a href="{% url 'app:quiz' %}">quiz</a></li>
            </ul>
            </div>
    </body>
</html>