<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block title_block %}

        {% endblock %}
    </head>
    <body>
        <div id="header">
            <h1><a id="home_button" href="{% url 'app:home' %}">Quizzical</a></h1>
        </div>
        <div id="main">
            {% block body_block %}
                <ul>
                    <li><a href="{% url 'app:home' %}">home</a></li>
                    <li><a href="{% url 'app:create_quiz' %}">create_quiz</a></li>
                    <li><a href="{% url 'app:account' %}">account</a></li>
                    <li><a href="{% url 'app:signup' %}">signup</a></li>
                    <li><a href="{% url 'app:login' %}">login</a></li>
                    <li><a href="{% url 'app:category' %}">category</a></li>
                    <li><a href="{% url 'app:quiz' %}">quiz</a></li>
                </ul>
            {% endblock %}
        </div>
        <div id="footer">
            <h2>footer</h2>
        </div>

        <script src="{% static 'javascript/base.js' %}"></script>
    </body>
</html>