<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <style>
            body {
                background-image: url('{% static "images/background2.jpg" %}');
                background-size: cover;           /* Scales the image to cover the container */
                background-repeat: no-repeat;     /* Prevents the image from repeating */
                background-position: center;      /* Centers the image in the viewport */
            }
        </style>
        {% block title_block %}

        {% endblock %}
    </head>
    <body>
        <div id="header">
            <h1><a class="header-text" id="site-title" href="{% url 'app:home' %}">Quizzical</a></h1>
            <div class="header-link-left"><h2><a class="header-text" href="{% url 'app:home' %}">Home</a></h2></div>
            <div class="header-link-left"><h2><a class="header-text" href="{% url 'app:category' %}">Categories</a></h2></div>
            <div class="header-link-left"><h2><a class="header-text" href="{% url 'app:create_quiz' %}">Create Quiz</a></h2></div>
            {% if user.is_authenticated %}
                <div class="header-link-right"><h2><a class="header-text" href="{% url 'app:logout' %}">Logout</a></h2></div>
                <div class="header-link-right"><h2><a class="header-text" href="{% url 'app:account' %}">Account</a></h2></div>
            {% else %}
                <div class="header-link-right"><h2><a class="header-text" href="{% url 'app:signup' %}">Signup</a></h2></div>
                <div class="header-link-right"><h2><a class="header-text" href="{% url 'app:login' %}">Login</a></h2></div>
            {% endif %}
        </div>
        <div id="main">
            {% block body_block %}
                <ul>
                    <li><a href="{% url 'app:home' %}">home</a></li>
                    <li><a href="{% url 'app:create_quiz' %}">create_quiz</a></li>
                    <li><a href="{% url 'app:account' %}">account</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'app:account' %}">Account</a></li>
                        <li><a href="{% url 'app:home' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'app:signup' %}">signup</a></li>
                        <li><a href="{% url 'app:login' %}">login</a></li>
                    {% endif %}
                    <li><a href="{% url 'app:category' %}">category</a></li>
                </ul>
            {% endblock %}
        </div>
        <footer id="footer">
            <div id="about">
                <h2>About us</h2>
                <p id="about-body">
                    At Quizzical, we believe that learning should be fun and engaging. Our website allows you to create, view
                    and take quizzes on wide range of topics, which is increasing by the day.
                    <br />
                    <br />
                    Whether you are looking for some fun quizzes to pass the time, or a place to create your own
                    quizzes to help yourself study. With an interactive and user-friendly interface, we bring people
                    together through the power of quizzes!
                </p>
            </div>
            <div id="contact">
                <h2>Contact Us</h2>
                <ul id="contact-body">
                    <li class="contact-info">Email: Quizzical@gmail.com</li>
                    <li class="contact-info">Phone Number: 0141 636 5334</li>
                    <li class="contact-info">Address: 42 Buchanan Street
                                            , G1 3HL</li>
                </ul>
            </div>
        </footer>

        <script src="{% static 'javascript/base.js' %}"></script>
    </body>
</html>