{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
    <title>Create Quiz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/create_quiz.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
    <script src="{% static 'javascript/create_quiz.js' %}"></script>

    <style>
        body {
            background-image: url('{% static "images/background2.jpg" %}');
        }
    </style>
{% endblock %}

{% block body_block %}

    <form id="quiz-info" method="post" action="{%url 'app:create_quiz' %}" enctype="multipart/form-data">
        <h1>Create Quiz</h1>
        <h2>Quiz Information</h2>
        
        {% csrf_token %}
        <div class="form-entry">
            <label for="email">Name:</label>
            <input type="email" name="email" type="submit" placeholder="Enter the quiz name"/>
        </div>

        <div>
            <label for="long-text">Description:</label>
            <textarea id="long-text" name="long_text" rows="6" cols="50" placeholder="Enter a description..."></textarea>
        </div>

        <div>
            <img src="{% static 'images/placeholder.jpg' %}">
            <label for="image-upload">Upload an Image:</label>
            <input type="file" id="image-upload" name="image" accept="image/*"/>
        </div>

        <div>
            <label for="category">Select a Category:</label>
            <select id="category">
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <h2>Create Slides</h2>
        
        <div>
            <ol>
                <li>
                    <div class="form-entry">
                        <label for="slide-question_0">Slide Question:</label>
                        <input type="text" name="question_0" type="submit" placeholder="Enter a question"/>
                    </div>

                    <div class="form-entry">
                        <label for="slide-image_0">Slide Image:</label>
                        <input type="file" id="image-upload" name="image" accept="image/*"/>
                    </div>

                    <div class="form-entry">
                        <label for="answer1_0">Answer 1:</label>
                        <input type="text" name="answer1_0" type="submit" placeholder="Enter the first answer"/>
                        <input type="checkbox" id="is-answer1_0" name="is-answer1_0" value="yes"/>
                    </div>

                    <div class="form-entry">
                        <label for="answer2_0">Answer 2:</label>
                        <input type="text" name="answer2_0" type="submit" placeholder="Enter the second answer"/>
                        <input type="checkbox" id="is-answer2_0" name="is-answer2_0" value="no"/>
                    </div>

                    <div class="form-entry">
                        <label for="answer3_0">Answer 3:</label>
                        <input type="text" name="answer3_0" type="submit" placeholder="Enter the third answer"/>
                        <input type="checkbox" id="is-answer3_0" name="is-answer3_0" value="no"/>
                    </div>

                    <div class="form-entry">
                        <label for="answer4_0">Answer 4:</label>
                        <input type="text" name="answer4_0" type="submit" placeholder="Enter the fourth answer"/>
                        <input type="checkbox" id="is-answer4_0" name="is-answer4_0" value="no"/>
                    </div>

                    <input type="submit" value="Remove Question"/>
                </li>
            </ol>

            <input type="submit" value="Create Question"/>
        </div>
        
        <input type="submit" value="Submit">
    </form>
{% endblock %}