oyh{% extends "app/base.html" %}
{% load static %}

{% block title_block %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizzes</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body_block %}
<style>
    body {
      background-image: url('{% static "images/background2.jpg" %}');
    }
  </style>

<div class="container">
  <div class="quiz-section">
    <h2>Top Rated Educational Quizzes</h2>
    <div class="quiz-container" id="educational-quizzes"></div>
  </div>
  <div class="quiz-section">
    <h2>Top Rated Fun Quizzes</h2>
    <div class="quiz-container" id="fun-quizzes"></div>
  </div>
</div>

<!-- Quiz Popup Modal -->
<div id="quiz-popup" class="popup">
  <div class="popup-content">
    <span class="close-btn">&times;</span>
    <h3 id="quiz-title"></h3>
    <img id="quiz-image" src="" alt="Quiz Image">
    <div class="popup-buttons">
      <button class="start-btn">Start Quiz</button>
      <button class="save-btn">Save Quiz</button>
    </div>
  </div>
</div>

<!-- Check if the user is logged in and set this true or false -->
<script>authenticated = false;</script>
{% if user.is_authenticated %}
  <script>
    authenticated = true;
  </script>
{% else %}
  <script>
    authenticated = false;
  </script>
{% endif %}
<script>
  const staticImagePath = "{% static 'images/' %}";
  const quizzes = JSON.parse('{{ quizzes|safe }}');
</script>
<script src="{% static 'javascript/home.js' %}"></script>
{% endblock %}
