{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

    <style>
        body {
            background-image: url('{% static "images/background2.jpg" %}');
        }
    </style>
{% endblock %}

{% block body_block %}
    <form id="register" method="post" action="{%url 'app:signup' %}" enctype="multipart/form-data">
        <h1>Log in</h1>

        {% csrf_token %}
        <div class="form-entry">
            <label for="email">Email:</label>
            <input type="email" name="email" type="submit" placeholder="Enter your email"/>
        </div>

        <div class="form-entry">
            <label for="password">Password:</label>
            <input type="password" name="password" type="submit" placeholder="Enter your password"/><br /> 
        </div>

        <input id="submit" type="submit" name="submit" value="Done"/>

        <p>Don't have an account? <a href="{% url 'app:signup' %}">Sign up</a> instead.</p>
    </form>
{% endblock %}