{% extends 'app/base.html' %}
{% load static %}

{% block title_block %}
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

    <style>
        body {
            background-image: url('{% static "images/background2.jpg" %}');
        }
    </style>
{% endblock %}

{% block body_block %}
    <form id="register" method="post" action="{% url 'app:signup' %}" enctype="multipart/form-data">
        <h1>Sign Up</h1>

        {% csrf_token %}
        <div class="form-entry">
            <label for="username">Username:</label>
            <input type="text" name="username" type="submit" placeholder="Enter your username"/>
            
            {% if errors.username %}
                <p>{{ errors.username|safe }}</p>
            {% endif %}
        </div>

        <div class="form-entry">
            <label for="email">Email:</label>
            <input type="email" name="email" type="submit" placeholder="Enter your email"/>
            
            {% if errors.email %}
                <p>{{ errors.email|safe }}</p>
            {% endif %}
        </div>

        <div class="form-entry">
            <label for="password">Password:</label>
            <input type="password" name="password" type="submit" placeholder="Enter your password"/>
            
            {% if errors.password %}
                <p>{{ errors.password|safe }}</p>
            {% endif %}
        </div>

        <div class="form-entry">
            <label for="password_confirmation">Confirm Password:</label>
            <input type="password" name="password_confirmation" type="submit" placeholder="Confirm your password"/>
        </div> 

        <input id="submit" type="submit" name="submit" value="Done"/>

        <p>Already have an account? <a href="{% url 'app:login' %}">Log in</a> instead.</p>
    </form>
{% endblock %}