html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: teal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    padding-left: 35px;
    background-color: teal;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    overflow: auto;
    z-index: 100;
}

#main {
    flex: 1;
    width: 100%;
    margin-top: 80px; /* push content below the fixed header */
    /* remove min-height if unnecessary */
}

#footer {
    clear: both;
    width: 100%;
    padding: 0;
    background-color: teal;
    color: white;
    text-align: left;
    /* change display if necessary, block is sufficient here */
}

.header-text {
    color: white;
    text-decoration: none;
    float: left;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Lucida Sans", "Noto Sans", sans-serif;
    margin: -1px 0 0 0;
}

#site-title {
    font-size: 40px;
    margin-top: -7px;
}

.header-link-left {
    width: fit-content;
    height: fit-content;
    margin-top: -10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 75px;
}

.header-link-right {
    width: fit-content;
    height: fit-content;
    margin-top: -10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 90px;
}

#about {
    float: left;
    width: 49vw;
    margin-left: 25px;
}

#about-body {
    font-size: 18px;
}

#contact {
    float: left;
    width: 45vw;
}

#contact-body {
    font-size: 25px;
    list-style: none;
}

.contact-info {
    margin-top: 10px;
}